header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: azure;
  padding: 25px;

  position: sticky;
}

.logo {
  max-width: 50px;
  position: absolute;
}
.logo img {
  width: 100%;
}

.header-container {
  position: relative;
  left: 50%;
}

